{"name":"ColleakFrontend","slug":"ColleakFrontend","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.anonymous.ColleakFrontend"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"com.anonymous.ColleakFrontend"},"web":{"favicon":"./assets/favicon.png"},"plugins":[["react-native-auth0",{"domain":"dev-lohb1xoklmc7vqfg.us.auth0.com"}]],"extra":{"eas":{"projectId":"707f8dbe-40b2-43c9-95c5-c9b83e0c2cdd"}},"owner":"vlottetonny","sdkVersion":"49.0.0","platforms":["ios","android","web"]}